cmake-build-*/
*.zip
vcpkg_installed/
.idea/
*.obj
*.o
*.so
*.dll
!third_party/**/*.dll
*.dylib
*.log
*.tmp
*.cache
*.bak
*.swp
*.swo
*.DS_Store
*.vscode
*.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.user
*.suo
*.ipch
*.pch
*.pdb
*.ilk
*.idb
*.iobj
*.ipdb
*.json
!assets/scenes/*.scene.json
!assets/registry/*.json
!assets/materials/*.json
!assets/templates/*.scene.json
!projects/**/assets/scenes/*.scene.json
!projects/**/assets/registry/*.json
!projects/**/assets/materials/*.json
.agents/
