cmake-build-*/
*.zip
vcpkg_installed/
.idea/
*.obj
*.o
*.so
*.dll
*.dylib
*.log
*.tmp
*.cache
*.bak
*.swp
*.swo
*.DS_Store
*.vscode
*.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.user
*.suo
*.ipch
*.pch
*.pdb
*.ilk
*.idb
*.iobj
*.ipdb
*.json
.agents/